In [1]:
import matplotlib.pyplot as plt
import h5py
import numpy as np
import pandas as pd
import phase2_common as ph2
from s4bb.spectra import XSpec, CalcSpec_namaster

In [2]:
params_withpbs = np.load('mlsearch/ph2_mlsearch_f1_y20_n3_full_withpbs_diag0_V.npy').T
df_withpbs = pd.DataFrame(params_withpbs, columns = ['status', 'fval', 'r', 'A_d', 'alpha_d', 'beta_d', 'A_s', 'alpha_s', 'beta_s', 'epsilon', 'Delta_d', 'Delta_s'])
df_withpbs.describe()

,status,fval,r,A_d,alpha_d,beta_d,A_s,alpha_s,beta_s,epsilon,Delta_d,Delta_s
count,100.0,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,0.0,381.714271,0.000166,14.227285,-0.802280,1.650214,1.066390,-0.958628,-3.092062,0.023610,0.999245,0.999204
std,0.0,26.224790,0.000338,0.553585,0.042979,0.006661,0.016967,0.053574,0.012838,0.011455,0.000286,0.000345
min,0.0,324.281333,-0.000697,13.695381,-0.868954,1.634985,1.036837,-1.098730,-3.131237,-0.009709,0.998492,0.998057
25%,0.0,363.735795,-0.000061,13.732275,-0.844251,1.644909,1.055063,-0.985597,-3.101572,0.016290,0.999070,0.998961
50%,0.0,379.179260,0.000143,13.746824,-0.782347,1.649566,1.063570,-0.953582,-3.092287,0.024818,0.999207,0.999228
75%,0.0,400.976105,0.000389,14.813861,-0.769109,1.655580,1.072905,-0.921557,-3.083610,0.030871,0.999429,0.999461
max,0.0,446.847820,0.001115,15.140416,-0.683970,1.663871,1.123615,-0.857151,-3.063550,0.049600,1.000075,0.999996

In [4]:
params = np.load('mlsearch_bandpass_fts/ph2_mlsearch_f1_y20_n3_diag0_full_withpbs.npy').T
df = pd.DataFrame(params, columns = ['status', 'fval', 'r', 'A_d', 'alpha_d', 'beta_d', 'A_s', 'alpha_s', 'beta_s', 'epsilon', 'Delta_d', 'Delta_s', 'freq_shift'])
df.describe()

,status,fval,r,A_d,alpha_d,beta_d,A_s,alpha_s,beta_s,epsilon,Delta_d,Delta_s,freq_shift
count,100.0,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.0
mean,0.0,381.714271,0.000166,14.227285,-0.802280,1.650214,1.066390,-0.958628,-3.092062,0.023610,0.999245,0.999204,0.0
std,0.0,26.224790,0.000338,0.553585,0.042979,0.006661,0.016967,0.053574,0.012838,0.011455,0.000286,0.000345,0.0
min,0.0,324.281333,-0.000697,13.695381,-0.868954,1.634985,1.036837,-1.098730,-3.131237,-0.009709,0.998492,0.998057,0.0
25%,0.0,363.735795,-0.000061,13.732275,-0.844251,1.644909,1.055063,-0.985597,-3.101572,0.016290,0.999070,0.998961,0.0
50%,0.0,379.179260,0.000143,13.746824,-0.782347,1.649566,1.063570,-0.953582,-3.092287,0.024818,0.999207,0.999228,0.0
75%,0.0,400.976105,0.000389,14.813861,-0.769109,1.655580,1.072905,-0.921557,-3.083610,0.030871,0.999429,0.999461,0.0
max,0.0,446.847820,0.001115,15.140416,-0.683970,1.663871,1.123615,-0.857151,-3.063550,0.049600,1.000075,0.999996,0.0

In [10]:
params = np.load('mlsearch_bandpass_ghz/ph2_mlsearch_f1_y20_n3_diag0_full_withpbs_uniform_+2.0GHz.npy').T
df = pd.DataFrame(params, columns = ['status', 'fval', 'r', 'A_d', 'alpha_d', 'beta_d', 'A_s', 'alpha_s', 'beta_s', 'epsilon', 'Delta_d', 'Delta_s'])
df.describe()

,status,fval,r,A_d,alpha_d,beta_d,A_s,alpha_s,beta_s,epsilon,Delta_d,Delta_s
count,100.0,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,0.0,394.564665,0.000218,13.700292,-0.823244,1.655147,1.775529,-0.955941,-3.276987,0.022000,0.999232,0.999069
std,0.0,41.654320,0.000341,0.011610,0.026839,0.006877,0.131917,0.057587,0.031665,0.011456,0.000284,0.001025
min,0.0,327.752755,-0.000720,13.661600,-0.888556,1.639554,1.114199,-1.091399,-3.323426,-0.011626,0.998495,0.992658
25%,0.0,369.769329,-0.000012,13.697310,-0.831314,1.649512,1.785876,-0.990332,-3.291809,0.014759,0.999033,0.998978
50%,0.0,388.770685,0.000196,13.701438,-0.824933,1.654586,1.804909,-0.956061,-3.280040,0.023638,0.999199,0.999272
75%,0.0,410.963607,0.000441,13.705968,-0.819796,1.660708,1.822907,-0.927546,-3.270457,0.029232,0.999423,0.999468
max,0.0,590.093224,0.001144,13.753492,-0.690618,1.674681,1.878346,-0.791231,-3.114199,0.048008,1.000067,1.000105

In [9]:
params = np.load('mlsearch_bandpass_fts/ph2_mlsearch_f1_y20_n3_diag0_full_withpbs_2GHz.npy').T
df = pd.DataFrame(params, columns = ['status', 'fval', 'r', 'A_d', 'alpha_d', 'beta_d', 'A_s', 'alpha_s', 'beta_s', 'epsilon', 'Delta_d', 'Delta_s', 'freq_shift'])
df.describe()

,status,fval,r,A_d,alpha_d,beta_d,A_s,alpha_s,beta_s,epsilon,Delta_d,Delta_s,freq_shift
count,100.0,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.0
mean,0.0,392.048378,0.000208,13.700449,-0.822321,1.654952,1.795400,-0.961025,-3.278514,0.021966,0.999222,0.999105,2.0
std,0.0,39.581233,0.000344,0.011065,0.020113,0.006722,0.100314,0.047285,0.026927,0.011603,0.000283,0.001012,0.0
min,0.0,327.758281,-0.000659,13.649770,-0.840670,1.639595,1.114574,-1.091101,-3.323407,-0.011081,0.998494,0.992297,2.0
25%,0.0,369.103944,-0.000013,13.697632,-0.830730,1.649623,1.793362,-0.988823,-3.291575,0.014419,0.999021,0.998977,2.0
50%,0.0,386.798942,0.000196,13.702000,-0.825210,1.654484,1.806445,-0.958601,-3.280314,0.023087,0.999204,0.999276,2.0
75%,0.0,407.185155,0.000441,13.706381,-0.819857,1.660301,1.820140,-0.933229,-3.271280,0.029283,0.999415,0.999473,2.0
max,0.0,618.172984,0.001144,13.716695,-0.690731,1.674685,1.897116,-0.861115,-3.115107,0.047778,1.000067,1.000105,2.0

In [3]:
params = np.load('mlsearch_bandpass_ghz/ph2_mlsearch_f2_y20_n3_diag0_full_withpbs_uniform_+2.0GHz.npy').T
df = pd.DataFrame(params, columns = ['status', 'fval', 'r', 'A_d', 'alpha_d', 'beta_d', 'A_s', 'alpha_s', 'beta_s', 'epsilon', 'Delta_d', 'Delta_s'])
df.describe()

,status,fval,r,A_d,alpha_d,beta_d,A_s,alpha_s,beta_s,epsilon,Delta_d,Delta_s
count,100.0,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,0.0,392.285303,0.001795,59.506014,-0.506812,1.534447,2.292156,-0.963444,-3.240841,0.007251,0.998544,0.999734
std,0.0,37.666786,0.000826,0.011970,0.007754,0.004290,0.105122,0.087783,0.030954,0.027114,0.000140,0.000716
min,0.0,334.317236,-0.000136,59.422442,-0.545484,1.524554,1.748374,-1.488984,-3.286096,-0.212272,0.998040,0.996148
25%,0.0,368.569575,0.001200,59.502655,-0.511472,1.531310,2.259173,-0.998808,-3.258943,-0.000861,0.998454,0.999444
50%,0.0,386.507238,0.001883,59.505993,-0.506640,1.534540,2.293635,-0.954232,-3.243946,0.007081,0.998565,0.999825
75%,0.0,404.593727,0.002368,59.508804,-0.503200,1.537489,2.319183,-0.916573,-3.226160,0.019907,0.998631,1.000202
max,0.0,585.064375,0.003819,59.582884,-0.476356,1.545287,2.889262,-0.831833,-3.008900,0.078444,0.998873,1.001121

In [4]:
params = np.load('mlsearch_bandpass_fts/ph2_mlsearch_f2_y20_n3_diag0_full_withpbs_2GHz.npy').T
df = pd.DataFrame(params, columns = ['status', 'fval', 'r', 'A_d', 'alpha_d', 'beta_d', 'A_s', 'alpha_s', 'beta_s', 'epsilon', 'Delta_d', 'Delta_s', 'freq_shift'])
df.describe()

,status,fval,r,A_d,alpha_d,beta_d,A_s,alpha_s,beta_s,epsilon,Delta_d,Delta_s,freq_shift
count,100.0,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.0
mean,0.0,389.493895,0.001834,59.505544,-0.506050,1.534659,2.286746,-0.950475,-3.244158,0.008255,0.998545,0.999804,2.0
std,0.0,28.239999,0.000844,0.008980,0.007492,0.004663,0.052288,0.051206,0.018579,0.015920,0.000139,0.000600,0.0
min,0.0,334.325760,-0.000137,59.423182,-0.520182,1.525412,2.137488,-1.041721,-3.286130,-0.078386,0.998040,0.997950,2.0
25%,0.0,368.570078,0.001226,59.503084,-0.511242,1.531310,2.254983,-0.995405,-3.257253,-0.000199,0.998460,0.999477,2.0
50%,0.0,386.811224,0.001952,59.506202,-0.505978,1.534435,2.297712,-0.952496,-3.245072,0.007567,0.998567,0.999842,2.0
75%,0.0,407.223472,0.002404,59.508813,-0.501571,1.537428,2.320078,-0.916537,-3.230782,0.018787,0.998630,1.000213,2.0
max,0.0,480.682550,0.003824,59.514727,-0.469662,1.557897,2.407429,-0.837455,-3.199369,0.036999,0.998873,1.001183,2.0